exportPattern("^[[:alpha:]]+")
export(DPC)
export(DPPC)
export(DFanPC)
export(DGaoPC)
export(DBlPC)
export(DGulPC)
export(PC)
export(PPC)
export(FanPC)
export(GaoPC)
export(GulPC)
export(BlPC)
import(stats)
importFrom(stats, cov)
import(elasticnet)
importFrom(elasticnet, spca)
